/* Header
================================================================================================ */

*{
    font-family: Arial, Helvetica, sans-serif;
}

#top-header{
    height: 26px;
    padding: 6px;
    margin: 0 6px;
}

#top-header img{
    float: left;
    margin-right: 5px;
}

#top-header p{
    margin: 0;
    line-height: 26px;
}

#lower-header{
    padding: 0 0 3px 6px;
    display: flex;
    border-bottom: 2px solid rgb(206, 206, 206);
}

#lower-header p{
    width: fit-content;
    margin: 0 8px 0 0;
}

/* Main
================================================================================================ */

main{
    margin-top: 1em;
}

#code-holder{
    width: 30vw;
    background-color: white;
    background-image: url(/imgs/trollface.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 2em;
    margin-bottom: 0;
    height: 50%;
    border: 1px solid black;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

#code-holder:active{
    background-size: 75%;
}

#code-holder div{
    height: 26px;
    padding: 6px;
    border-bottom: 2px solid rgb(206, 206, 206);
    background-color: white;
}

#code-holder div p{
    margin: 0;
    line-height: 26px;
    width: 50%;
}

#code-holder div img{
    float: left;
    margin-right: 5px;
}

#info-holder{
    display: flex;
    width: 100vw;
    height: calc(100vh - 1em - 61.4px);
}

.close{
    float: right;
    text-align: end;
}